<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Spring Boot - Angular Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- NavBar -->
<nav class="navbar navbar-success bg-success">
    <a class="navbar-brand text-dark" href="https://www.dummies.com/personal-finance/investing/trading-for-dummies-cheat-sheet/"  target="_blank">Trading for Dummies
    </a>
  </nav>
  <!--Container starts-->
  <div class="container">
    <br>
    <hr/>
    <br>
<form enctype="multipart/form-data">
  <!--Stock form element-->
    <div class="form-group row">
     <label for="stock">Stock</label>
        <select class="form-control stock">
            <option *ngFor="let item of stocks"> {{item.cat}} </option>
          </select>
    </div>
    <!--Volume form element-->
    <div class="form-group row">
        <label for="volume">Volume</label>
           <input class="form-control volume" type = "text" placeholder = "Volume">
       </div>
       <!--Upper Boundary Limit form element-->
      <div class="form-group row">
        <label for="upper-boundary">Upper Boundary Limit</label>
            <input class="form-control upper-boundary" type = "number" placeholder = "Upper Boundary">
        </div>
        <!--Lower Boundary Limit-->
        <div class="form-group row">
          <label for="lower-boundary">Lower Boundary Limit</label>
            <input class="form-control lower-boundary" type = "number" placeholder = "Lower Boundary">
        </div>
        <button class="btn btn-success">Place Trade</button>

        
</form>
<br>
<hr/>
<br>
<!--Container ends in div below-->
</div>

</body>
</html>
